<section class="twitter">
  <script>Chirp({
  user: 'rigelstpierre', //Twitter username
  max: 3, //Maximum number of tweets to show
  count: 100, //Total tweets to retrieve
  retweets: true, //Show/Don't show retweets
  replies: false,  //Show/Don't show replies
  cacheExpire: 1000 * 60 * 2 //Number of milliseconds to cache tweets
})</script>
</section>